body{

  font-family:"futura";
  text-align: center;
  background-color: rgba(166, 194, 210, 0.29);
}


// .main-container {
//   display:flex;
//   flex-wrap: wrap;
//   justify-content: space-around;
// }
