.tour-name h2{
  font-size: 48px;
  border-radius: 25px;
  background-color: #96858D;
  padding: 50px;
  margin:75px;
  color: #FFF6FC;

}

.add-stop {
  margin-top:50px;
  margin-bottom: 75px;
}

#add-stop-submit {
  border-radius: 25px;
  background-color: #FFFFFF;
  border:none;
  width:200px;
  height: 100px;
  font-size: 20px;
  font-weight: bold;
  color:#5D5D5D
}

.tour-stops {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.tour-stops button {
  border-radius: 25px;
  background-color: #9099A2;
  border:none;
  width:120px;
  height: 80px;
  font-size: 20px;
  font-weight: bold;
  margin:10px;
  color: #5D5D5D;
}

.stop-info {
  border-radius: 25px;
  font-size: 20px;
  font-weight: bold;
  padding:10px;
  background-color: #9099A2;
  color:#5D5D5D;
}

.budget-name {
  font-size: 28px;
  border-radius: 25px;
  background-color: #96858D;
  padding: 10px;
  margin:75px;
  color: #FFF6FC;
}



.budget-container {
  margin:0 auto;
  width:75vw;
  display:flex;
  flex-direction:column;
  justify-content: space-around;
  border:1px solid black;
  background-color: #9099A2;

}


.budget-line {

  display:block;
  text-align: justify;
}

.budget {
  display:block;
  border:1px solid black;
}

.budget-city {
  font-weight: bolder;
}


.budget-pay {
  text-align: right;
}

.budget-cost  {
  color:red;
  text-align: right;
  border-bottom: 2px solid black;
}
.line-total {
  text-align:right;
}
#budget-total {
  text-align: right;
  font-size: 28px;

}
