<h1 class="tourplanner">Tour Planner</h1>

<div class="signin">
  <h2>Sign In</h2>
  <form class="signin-form" action="/signin" method="post">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <input type="submit">
  </form>
</div>
<br>


<div class="signup">

  <h2>Or Create A New Profile</h2>

  <form class="signup-form" action="/" method="post">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <input type="submit">
  </form>
</div>
