<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <title>Sinatra API</title>
  </head>
  <body>
<%= flash[:notice] if flash[:notice] %>

    <%= yield %>




    <script type="text/javascript" src="/javascript/script.js"></script>
  </body>
</html>
