<h2>New Stop on <%=@tour.name %></h2>



<div class="finalize-stop-div">

  <h2>Finalize Your Stop</h2>


  <form class="finalize-stop-form" action="/tour/<%= @tour.id %>/new_stop" method="post">
    <div class="finalize-venue">

      <div><input type="text" id="venue-pay" placeholder="How Much They Paying?"></div>

    </div>
    <div class="finalize-lodging">

      <div><input type="text" id="lodging-cost" placeholder="How Much Per Night?"></div>

    </div>
    <input type="button" id="finalize-stop-button" value="Add Stop">
  </form>
</div>

<div style= "display:none" id="tour_id"><%=@tour.id %></div>


<input type="text" id="stop_venue" placeholder="Enter A City, State">
<button type="button" id="stop_venue_submit">Search For Venues</button>
<div class="venue-results"></div>



<div class="lodging"></div>
<div class="lodging-results"></div>




<script type="text/javascript" src="/javascript/new-stop.js"></script>
