<h2>New Stop on ____ Tour</h2>



<div class="finalize-stop-div">

  <h2>Finalize Your Stop</h2>


  <form class="finalize-stop-form" action="new_stop" method="post">
    <div class="finalize-venue"></div>
    <div class="finalize-lodging"></div>
    <input type="button" id="finalize-stop-button" value="Add Stop">
  </form>
</div>


<!-- Change this form to an input with button. Button onClick searches City for venues -->
<input type="text" id="stop_venue" placeholder="Enter A City, State">
<button type="button" id="stop_venue_submit">Search For Venues</button>
<div class="venue-results"></div>



<div class="lodging"></div>
<div class="lodging-results"></div>















<!--
<form class="new_stop" action="index.html" method="post">
<input type="text" name="stop_venue" placeholder="Enter Venue Name">
<input type="submit">
</form>

<form class="new_stop" action="index.html" method="post">
<input type="text" name="stop_lodging" placeholder="Enter Lodging Choice">
<input type="submit">
</form> -->
