<h2>My Tours</h2>


<!-- Previous Tours/ Active Tours-->
<button type="button" name="button">Tour 1</button>

<button type="button" name="button">Tour 2</button>

<button type="button" name="button">Tour 3</button>


<h2>Create A New Tour!</h2>

<form class="new-tour" action="new-tour" method="post">
  <input type="text" name="new-tour-name" placeholder="New Tour Name">
  <input type="submit">
</form>
