<h2> <%= @current_user.username %>'s Tours</h2>

<div class="user-tours">


<!-- Previous Tours/ Active Tours-->
<% @current_user.tours.all.each do |tour| %>

<div>
  <a href="/tour/<%=tour.id%>"<button type="button" id = "tour-select" value= "<%= tour.name %>"> <%= tour.name %></button></a>
</div>



<% end %>

</div>



<h2>Create A New Tour!</h2>

<form class="new-tour" action="/new-tour" method="post">
  <input type="text" name="tour_name" placeholder="New Tour Name">
  <input type="submit">
</form>
