<h2>(Tour Name)</h2>

<div id="map"></div>





<h3>Add A Stop</h3>
<form class="new stop" action="/new_stop" method="get">
  <input type="submit" value="New Stop">
</form>




<button type="button" name="button">Stop 1</button>
<button type="button" name="button">Stop 2</button>
<button type="button" name="button">Stop 3</button>









<h3>Budget Stuff</h3>
